.stats-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.stat-name{
  margin-top: 0;
  color: #454545;
  font-size: 1rem;
}
.stat-value {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: 400;
  line-height: 1.6;
  padding-left: 0.75rem;

}
.stat-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.stat-value small {
  color: #454545;
  margin-left: 0.25rem;
  font-size: 0.75rem;
}

@media only screen and (max-width: 599px) {
  /* Tablet-Lanscape */
  .stat-value {
    font-size: 1.5rem;
  }
  .stats-wrapper {
    flex-direction: column;
  }
  .stat {
    justify-content: flex-start;
    text-align: left;
  }
  .stat-line {
    justify-content: flex-start
  }
}

@media only screen and (min-width: 600px) {
  /* Tablet-Portrait */

  .stats-wrapper {
    flex-direction: column;
  }
  .stat {
    justify-content: flex-start;
    text-align: left;
  }
  .stat-line {
    justify-content: flex-start
  }
}

@media only screen and (min-width: 900px) {
  /* Tablet-Lanscape */
  .fa-3x {
    font-size: 2.5rem;
  }
  .stat-value {
    font-size: 1.25rem;
  }
  .stat {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .stats-wrapper {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  /* Desktop */
  .fa-3x {
    font-size: 3rem;
  }
  .stat {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .stats-wrapper {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1800px) {
  /* Big Desktop */
  .fa-3x {
    font-size: 3.25rem;
  }
  .stats-wrapper {
    flex-direction: row;
  }
  .stat {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}