.navbar {
  padding: 0.5rem 3rem;
  height: 3rem;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.navbar ul li {
  margin: auto 0px;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: #003E89;
  font-weight: 600;
  transition: color 0.5s ease-out;
  margin-left: 1rem;
  margin-right: 0rem;
}
.navbar a:hover {
  color: #005BC9;
  transition: color 0.45s ease;
}
.navbar-flex {
  display: flex;
}
.navbar-search {
  padding-left: 0.5rem;
}
.header {
  font-size: 1.5rem;
  font-weight: 600;
  flex: 1;
  color: #003E89;
}
.search {
  height: 100%;
  padding: none;
}
@media only screen and (max-width: 599px) {
  /* Tablet-Lanscape */
  .navbar {
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (min-width: 600px) {
  /* Tablet-Portrait */
  .navbar {
    padding: 0.5rem 2.5rem;
  }
}

@media only screen and (min-width: 900px) {
  /* Tablet-Lanscape */
  
}

@media only screen and (min-width: 1200px) {
  /* Desktop */
 
}

@media only screen and (min-width: 1800px) {
  /* Big Desktop */
  
}